:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(241, 207, 144);
}

h3 {
  font-size: 1.5rem;
  color: rgb(174, 141, 206);
  text-align: center;
}

h6 {
  color: rgb(141, 108, 108);
  text-align: left;
}

p {
  font-size: 1rem;
  color: rgb(136, 160, 160);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 0.8rem;
}
